:root {
  --primary-text-color: #212121;
  --hover-text-color: #2196f3;
  --title-text-color: #757575;
  --light-tetx-color: #ffffff;
  --title-text-footer: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
}
/*--- Навигация по сайту---*/
.logo {
  color: var(--primary-text-color);
}
.logo .word-blue {
  color: var(--hover-text-color);
}
.logo:hover {
  color: var(--hover-text-color);
}
.list {
  list-style: none;
}
.site-nav .link,
.auth-nav .nav,
.logo {
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-text-color);
}
.site-nav .link {
  color: var(--primary-text-color);
}

.auth-nav .nav:hover,
.auth-nav .nav:focus {
  color: var(--hover-text-color);
}
.auth-nav .nav {
  color: var(--title-text-color);
}

.list {
  color: #212121;
}
.link {
  cursor: pointer;
}

/*---Герой---*/
.hero-title {
  color: var(--primary-text-color);
}
/*---Кнопка---*/
.bth {
  background-color: var(--hover-text-color);
}
.bth {
  color: var(--light-tetx-color);
}
.bth:hover,
:focus {
  color: var(--hover-text-color);
}

/*---Особенности---*/

.speciality-title {
  color: var(--primary-text-color);
}
.title {
  color: var(--title-text-color);
}

/*---Наша команда---*/

.workers {
  color: var(--primary-text-color);
}
.workers-name {
  color: var(--primary-text-color);
}
.workers-post {
  color: var(--title-text-color);
}

/*---Подвал---*/
.more .nav-more {
  text-decoration: none;
}
.more .nav-more {
  color: var(--title-text-footer);
}

.more .nav-more:hover {
  color: var(--hover-text-color);
}

/* цвет текста hover #2196F3;  */
/* основной цвет текста #212121; */
/* цвет текста mine #FFFFFF; */
/* цвет текста P #757575;*/
/* цвет текста адрес+тел footer 
color: rgba(255, 255, 255, 0.6); */
/* цвет фона первичный-hader #FFFFFF; */
/* цвет фона main #E5E5E5; */
/* цвет фона footer #2F303A; */
/* цвет logo  "Web" #2196F3 , Studio "#212121;" */
